@page
@model FitHub.Pages.Achievements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Achievement[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement[0].DateAchieved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Achievement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AchievementId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AchievementId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AchievementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
